:root {
  /* text colors */
  --main-cl: #757575;
  --header-cl: #212121;
  --black-cl: #000;
  --white-cl: #fff;
  --blue-cl: #2196f3;
  --white-alfa-cl: #fff9;

  /* background colors */
  --footer-bg-cl: #2f303a;
  --btn-bg-cl: #f5f4fa;
  --hero-btn-accent-cl: #188ce8;
  --blue-bg-cl: #2196f3;
  --white-bg-cl: #fff;
  --overlay-bg-cl-08: rgba(47, 48, 58, 0.8);
  --overlay-text-bg-cl: rgba(33, 150, 243, 0.9);

  /* others */
  --light-ico-cl: #afb1b8;
  --dark-ico-cl: rgba(255, 255, 255, 0.1);
  --header-border-cl: #ececec;
  --label-border-cl: #eee;
  --hero-btn-shadow-cl: rgba(0, 0, 0, 0.15);
  --hero-overlay-cl: rgba(47, 48, 58, 0.4);
  --modal-overlay-cl: rgba(0, 0, 0, 0.2);
  --animation-effect-duration: 250ms;
  --animation-effect-cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

/*
|=================================
|     utilities 
|=================================
*/
body {
  color: var(--main-cl);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section.section-without-top {
  padding-top: 0;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  color: var(--header-cl);
  text-decoration: none;
}

.button {
  font-size: 16px;
  border: 0;
  color: var(--white-cl);
  background-color: var(--blue-bg-cl);
  box-shadow: 0px 4px 4px var(--hero-btn-shadow-cl);
  border-radius: 4px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.main-nav {
  display: flex;
  align-items: center;
}

.heading {
  border-bottom: 1px solid var(--header-border-cl);
}

/*
|=================================
|    logo
|=================================
*/
.logo-main,
.footer-logo {
  color: var(--blue-cl);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-main {
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo-black {
  color: var(--black-cl);
}

.logo-white {
  color: var(--white-cl);
}

/* 
|=================================
|     site nav  
|=================================
*/
.site-nav {
  display: flex;
  margin-left: 93px;

  color: var(--header-cl);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* .site-nav .cubicanimation-effect-cubicitem:not(:last-child) {
  margin-right: 50px;
}  правильне рішення, але є досить складним*/

.site-nav .item + .item {
  margin-left: 50px;
} /* oldschool-рішення, але робочий варіант та його часто використовують */

.site-nav .link.current {
  color: var(--blue-cl);
}

.site-nav .link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  transition: color var(--animation-effect-duration) var(--animation-effect-cubic);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--blue-cl);
}

.site-nav .link.current::after {
  content: '';
  position: absolute;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;

  background-color: var(--blue-bg-cl);
  border-radius: 2px;
}

.contacts {
  display: flex;
  margin-left: auto; /* Заставляет тел и почту прижаться вправо в header*/

  color: var(--main-cl);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts .link {
  display: flex;
  align-items: center;
  color: var(--main-cl);
  padding-top: 32px;
  padding-bottom: 32px;

  transition: color var(--animation-effect-duration) var(--animation-effect-cubic);
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--blue-cl);
}

.contacts .item + .item {
  margin-left: 50px;
}

.icons-mail {
  margin-right: 10px;
  fill: currentColor;
}

.icons-phone {
  margin-right: 10px;
  fill: currentColor;
}

/* 
|=================================
|     hero
|=================================
 */
.hero-title {
  margin-bottom: 30px;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  color: var(--white-cl);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero {
  text-align: center;
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--footer-bg-cl);
  background-image: linear-gradient(to right, var(--hero-overlay-cl), var(--hero-overlay-cl)),
    url('../images/hero-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero .button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  transition: background-color var(--animation-effect-duration) var(--animation-effect-cubic);
}

.hero .button:hover,
.hero .button:focus {
  background-color: var(--hero-btn-accent-cl);
}

/* 
|=================================
|     section title 
|=================================
*/
.section-title {
  color: var(--header-cl);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

/* 
|=================================
|     features 
|=================================
*/
.features-list {
  display: flex;
}

.features-list .item {
  flex-basis: calc((100% - 30px) / 4);
}

.features-list .item + .item {
  margin-left: 30px;
}

.features-list .title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--header-cl);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features-list p {
  margin-top: 0;
  margin-bottom: 0;
}

.features-thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  width: 270px;
  margin-bottom: 30px;

  background-color: var(--btn-bg-cl);
}

/* 
|=================================
|     work examples 
|=================================
*/
.work-list {
  display: flex;
  justify-content: center;
}

.work-list .title {
  color: var(--header-cl);
}

.section .section-title {
  margin-bottom: 50px;
}

.work-list .item + .item,
.team-list .list-item + .list-item {
  margin-left: 30px;
}

.work-list .item {
  position: relative;
}

.work-list-text {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;

  text-transform: uppercase;
  background-color: var(--overlay-bg-cl-08);
  color: var(--white-cl);
  font-weight: 700;
}

/* 
|=================================
|     team 
|=================================
*/
.team {
  background-color: var(--btn-bg-cl);
}

.team-list {
  display: flex;
  justify-content: center;
}

.team-list .section-title {
  color: var(--header-cl);
  font-weight: 500;
  font-size: 16px;
  line-height: 0.84;
  text-align: center;
}

.team-list .list-item {
  background-color: var(--white-cl);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.list-item .section-title {
  margin-bottom: 10px;
}

.team-text {
  text-align: center;
  margin-top: 0;
  margin-bottom: 16px;
}

.team-label {
  padding: 30px;
}

.team-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--light-ico-cl);

  transition: background-color var(--animation-effect-duration) var(--animation-effect-cubic);
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--blue-cl);
}

.team-social-icon {
  transition: fill var(--animation-effect-duration) var(--animation-effect-cubic);
}

.team-social-link:hover .team-social-icon,
.team-social-link:focus .team-social-icon {
  fill: var(--white-cl);
}

.team-social-list {
  display: flex;
  justify-content: space-between;
}

/* 
|=================================
|     clients 
|=================================
*/
.clients-list {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  width: 170px;
  border: 1px solid var(--light-ico-cl);
  border-radius: 4px;
  fill: var(--light-ico-cl);

  transition: fill var(--animation-effect-duration) var(--animation-effect-cubic),
    border-color var(--animation-effect-duration) var(--animation-effect-cubic);
}

.clients-link:hover,
.clients-link:focus {
  fill: var(--blue-cl);
  border-color: var(--blue-cl);
}

/*
|=================================
|     portfolio filters 
|=================================
*/

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-list .item + .item {
  margin-left: 8px;
}

.filter-list .button {
  padding: 6px 22px;
  cursor: pointer;
  background-color: var(--btn-bg-cl);
  box-shadow: none;
  color: var(--header-cl);
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;

  transition: background-color var(--animation-effect-duration) var(--animation-effect-cubic),
    box-shadow var(--animation-effect-duration) var(--animation-effect-cubic),
    color var(--animation-effect-duration) var(--animation-effect-cubic);
}

.filter-list button:hover,
.filter-list button:focus {
  color: var(--white-cl);
  background-color: var(--blue-bg-cl);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*
|=================================
|     portfolio examples 
|=================================
*/

.examples-list .title {
  margin-top: 0;
  margin-bottom: 4px;
  color: var(--header-cl);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.examples-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.examples-item {
  width: calc(100% / 3 - 30px);
  margin-right: 30px;
  margin-bottom: 30px;
}

/* Alternative example. Not good for adaptive  */
/* .examples-list .item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.examples-list .item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
} */

.examples-list-text {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--main-cl);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.examples-label {
  border-bottom: 1px solid var(--label-border-cl);
  border-left: 1px solid var(--label-border-cl);
  border-right: 1px solid var(--label-border-cl);

  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.examples-link:hover,
.examples-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.examples-link {
  display: block;

  transition: box-shadow var(--animation-effect-duration) var(--animation-effect-cubic);
}

.examples-overlay-thumb {
  position: relative;
  overflow: hidden;
}

.examples-overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  transform: translatey(calc(100% + 1px));
  display: inline-block;
  padding: 24px 63px;
  width: 370px;
  height: 294px;

  color: var(--white-cl);
  background-color: var(--overlay-text-bg-cl);
  font-size: 18px;
  line-height: 1.56;

  transition: transform var(--animation-effect-duration) var(--animation-effect-cubic);
}

.examples-link:hover .examples-overlay-text,
.examples-link:focus .examples-overlay-text {
  transform: translateY(0);
}

/*
|=================================
| footer 
|=================================
*/
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-bg-cl);
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
}

.address {
  font-style: normal;
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-link {
  color: var(--white-cl);

  transition: color var(--animation-effect-duration) var(--animation-effect-cubic);
}

.footer-link-alfa {
  color: var(--white-alfa-cl);

  transition: color var(--animation-effect-duration) var(--animation-effect-cubic);
}

.footer-link:hover,
.footer-link:focus,
.footer-link-alfa:hover,
.footer-link-alfa:focus {
  color: var(--blue-cl);
}

.footer-flex {
  display: flex;
  align-items: baseline;
}

.footer-flex-item:first-child {
  margin-right: 70px;
}

.footer-flex-item:last-child {
  margin-left: auto;
}

.footer-social-list {
  display: flex;
  gap: 10px;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--dark-ico-cl);

  transition: background-color var(--animation-effect-duration) var(--animation-effect-cubic);
}

.footer-social-icon {
  fill: var(--white-cl);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--blue-bg-cl);
}

.footer-join-text {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 20px;

  text-transform: uppercase;
  color: var(--white-cl);
  font-weight: 700;
}

.footer-join {
  display: flex;
  gap: 12px;
}

.footer-mail {
  padding: 15px;
  width: 358px;
  height: 50px;
  background-color: transparent;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: border-color var(--animation-effect-duration) var(--animation-effect-cubic);
}

.footer-mail:focus {
  border-color: var(--blue-cl);
}

.footer .button {
  padding: 10px 29px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  transition: background-color var(--animation-effect-duration) var(--animation-effect-cubic);
}

.footer .button:hover,
.footer .button:focus {
  background-color: var(--hero-btn-accent-cl);
}

.footer-button-thumb {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

/*
|=================================
|     Modal window 
|=================================
*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal-overlay-cl);

  opacity: 1;
  transition: opacity var(--animation-effect-duration) var(--animation-effect-cubic),
    visibility var(--animation-effect-duration) var(--animation-effect-cubic);
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  min-width: 528px;
  min-height: 581px;
  padding: 40px;

  background-color: var(--white-bg-cl);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--animation-effect-duration) var(--animation-effect-cubic);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  padding: 0;

  border: none;
  border-radius: 50%;
  background-color: var(--white-bg-cl);

  fill: var(--black-cl);
  transition: fill var(--animation-effect-duration) var(--animation-effect-cubic);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  fill: var(--blue-cl);
}
.modal-close-btn:focus {
  outline: 1px solid var(--blue-cl);
}

.form {
  margin-left: auto;
  margin-right: auto;
}

.form-field {
  margin-bottom: 10px;
}

.form-field-comment {
  margin-bottom: 20px;
}

.form-field-policy {
  margin-bottom: 30px;
}

.form-title {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;

  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--header-cl);
}

.form-label-title {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form-label {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-input {
  padding-left: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--animation-effect-duration) var(--animation-effect-cubic);
}

.form-input:focus {
  border-color: var(--blue-cl);
  outline: none;
}

.form-comment {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
  transition: border-color var(--animation-effect-duration) var(--animation-effect-cubic);
}

.form-comment:focus {
  border-color: var(--blue-cl);
}

.form-comment::placeholder {
  color: #75757580;
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}
.modal-icon-thumb {
  position: relative;
  fill: var(--header-cl);
  transition: fill var(--animation-effect-duration) var(--animation-effect-cubic);
}

.modal-icon-thumb:focus-within {
  fill: var(--blue-cl);
}

.modal-checkbox {
  appearance: none;
  position: absolute;
}

.modal-checkbox-icon {
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid var(--header-cl);
  border-radius: 2px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.modal-checkbox:checked + .modal-checkbox-icon {
  background-color: var(--blue-bg-cl);
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
  border: 2px solid var(--blue-bg-cl);
}

.modal-checkbox:focus + .modal-checkbox-icon {
  border: 2px solid var(--blue-bg-cl);
}

.link-policy {
  color: var(--blue-cl);
}

.form .button {
  display: flex;
  padding: 10px 56px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;

  transition: background-color var(--animation-effect-duration) var(--animation-effect-cubic);
}

.form .button:hover,
.form .button:focus {
  background-color: var(--hero-btn-accent-cl);
}
